<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Flask Survey Project </title>
</head>
<nav id="nav-bar" >
    <a >Home </a>
    <a>Sign Up </a>
    <a>SignIn/SignOut </a>
</nav>
<body>
    <h1>  Stephanie's Survey Stop! </h1> 
     {% for msg in get_flashed_messages() %}
     <p> {{msg}} </p>
     {% endfor %}
     {% block content %}
     {% endblock %}
</body>
</html>